<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Expenses
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Expenses</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Link to VENMO -->



  <!-- Incomplete Payments Tab-->


<!-- Create new payment section -->
<ion-button expand="block" href="https://click.cash.app/ui6m/bf0fcdc2" color = "success">Go to CashApp</ion-button>

<ion-button expand="block" href="venmo://">Go to Venmo</ion-button>


</ion-content>
