<ion-header>
  <ion-toolbar>
    <ion-title>Household Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <ion-input [(ngModel)]="household" type="text" placeholder="Household name" required></ion-input>
    <div *ngFor="let email of emails; let i = index; trackBy:trackByFn">
      <ion-input [(ngModel)]="emails[i]" type="text" placeholder="roommate@email.com" class="inputId"></ion-input>
      <ion-row>
        <div *ngIf="i === (emails.length - 1)">
          <ion-button color="medium" (click)="submit()" size="small">Submit</ion-button>
          <ion-button item-right color="medium" (click)="addNewEmail()" size="small" float="right">+</ion-button>
          <ion-button item-left color="medium" [disabled]="emails.length === 1" (click)="deleteEmail()" size="small" float="right">-</ion-button>
        </div>
      </ion-row>
    </div>
    <ion-input [(ngModel)]="email_to_delete" type="text" placeholder="Email" required></ion-input>
    <ion-button color="medium" (click)="remove_user()" size="small">Remove User</ion-button>
  </div>
</ion-content>