.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inputId {
  width: 350px;
}
ion-input{
  border: solid 1px gray;
}

.flex-box {
  justify-content:space-between; //button with flex box
}