<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tasks</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let bill of bills">
      <ion-label>{{ bill.name }} {{ bill.amount }} {{ bill.date }} </ion-label>
    </ion-item>
  </ion-list>
  <ion-button color = "light" expand = "block" (click) = "addBill()">New Bill</ion-button>
</ion-content>
